.form-control {
  margin-bottom: 30px;
  position: relative;
  width: 100%;

  span {
    color: black;
    position: absolute;
    top: -24px;
    display: block;
    font-size: 14px;
    margin-bottom: 2px;
    opacity: 1;
    transition: opacity .25s ease-out;
    margin: 0 0 rem(5) rem(7);
  }

  label {
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  input[type="email"],
  input[type="password"],
  input[type="text"],
  input[type="tel"],
  input[type="number"],
  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    backface-visibility: hidden;
    background: transparent;
    border: 1px solid rgba(0,0,0,0.05);
    border-radius: 0;
    color: $gray-6;
    display: block;
    font-family: $primary-font, serif;
    font-size: rem(14);
    letter-spacing: .038em;
    line-height: 18px;
    max-width: rem(312);
    outline: none;
    padding: rem(18);
    width: 100%;

    &:placeholder-shown + span {
      opacity: 0;
    }

    &::placeholder {
      color: $gray-6;
    }

    &:focus {
      outline: none;
    }

    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px $white inset;
    }
  }

  select {
    max-width: rem(350);
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance:textfield;
    appearance: none;
    margin: 0;
  }
}

/**
 * Search
 */
 input[type="search"] {
  -webkit-appearance: none;
}

/**
 * Textarea
 */
textarea {
  min-height: rem(213);
  resize: none;
}

/**
 * Autofill styles
 */
input,
textarea,
select {

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px $white inset !important;
    -webkit-text-fill-color: $gray-1;
    background-color: transparent;
  }
}